/***************************************************************
_typography
****************************************************************/
@import "@fontsource/open-sans";

body {
    font-family: "Open Sans";
  }

h1,
h2,
h3,
h4{
    text-transform: uppercase;
}

li {
    all: unset;
}

a {
    all:unset;
}