/***************************************************************
_variables
****************************************************************/

$bg-primary: #0282f9;
$bg-main: #1c1c1c;
$bg-bottom-footer: #303030;
$color-white: #ffffff;

$size-header: 120px;
$size-container: 1300px;