/***************************************************************
_variables
****************************************************************/

$bg-primary: #0282f9;
$bg-main: #1c1c1c;
$bg-bottom-footer: #303030;

$size-header: 120px;