/***************************************************************
SCSS
****************************************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    text-transform: uppercase;
}

a, span  {
    font-family: Impact, sans-serif;
    text-decoration: none;
}

li {
    list-style-type: none;
}